<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Author</title>
</head>
<body>
    <form id="edit-form-author" action="authorEdit.html" th:action="@{edit(id=${author.id})}" th:method="post" th:object="${author}">
        <h3 th:text="#{author-form-header}">Author info:</h3>

        <div>
            <label for="id-input">ID:</label>
            <input id="id-input" type="text" readonly th:value="*{id}" value="1"/>
        </div>

        <div>
            <label for="author-name-input">Name:</label>
            <input id="author-name-input" name="name" type="text" th:value="*{name}" value="Author name"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Wrong author name</div>
        </div>

        <div>
            <button type="submit" th:text="#{save-button-caption}">Save</button>
            <a href="authorList.html" th:href="@{authors}">
                <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
            </a>
        </div>
    </form>
</body>
</html>