<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>
    <div><a href="/" th:text="${'Menu library'}">Menu</a></div>
</h3>

<h3 th:text="#{book-table-header}">Books:</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>bookTitle</th>
        <th>preview</th>
<!--        <th>genre</th>
        <th>author</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.bookTitle}">Book Title</td>
        <td th:text="${book.preview}">Book Preview</td>
        <!--        <td th:text="${book.genre.genreTitle}">Genre</td>
                <td th:text="${book.author.fullName}">author</td>-->
        <td>
            <a th:href="@{edit(id=${book.id})}" href="bookEdit.html">
                <button type="button" th:text="#{edit-button-caption}">Edit</button>
            </a>
        </td>
        <td>
            <form th:action="@{delete(id=${book.id})}" action="bookEdit.html" th:method="delete">
                <button type="submit" th:text="#{delete-button-caption}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h5>
    <div><a href="/books/new" th:text="#{book-table-add}">Add new book:</a></div>
</h5>
</body>
</html>