<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h3>
    <div><a href="/" th:text="${'Menu library'}">Menu</a></div>
</h3>

<h3 th:text="#{book-table-header}">Books:</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>bookTitle</th>
        <th>preview</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.bookTitle}">Book Title</td>
        <td th:text="${book.preview}">Book Preview</td>
        <td>
            <a th:href="@{view(id=${book.id})}" href="bookView.html">
                <button type="button" th:text="#{view-button-caption}">View</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<h5>
    <div><a href="/books/new" th:text="#{book-table-add}">Add new book:</a></div>
</h5>
</body>
</html>