<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book view</title>
</head>
<body>

<div th:insert="~{mainPage::menu}"></div>
<!--<h3>
    <a href="/books/" th:text="${'Books'}">Books</a>
</h3>-->
<h3 th:text="#{book-table-header}">Book view:</h3>
<div th:object="${book}">
    <div>
        <label for="id-span">ID:</label>
        <span id="id-span" th:text="*{id}">id</span>
    </div>

    <div>
        <label for="book-title-span">bookTitle:</label>
        <span id="book-title-span" th:text="*{bookTitle}">Book title</span>
    </div>

    <div>
        <label for="book-preview-span">book preview:</label>
        <span id="book-preview-span" th:text="*{preview}">Book preview</span>
    </div>

    <div>
        <label for="book-genre-span">genre:</label>
        <span id="book-genre-span" th:text="*{genre.genreTitle}"></span>
    </div>

    <div>
        <label for="book-author-span">author:</label>
        <span id="book-author-span" th:text="*{author.fullName}"></span>
    </div>

    <div>
        <a th:href="@{edit(id=${book.id})}" href="bookEdit.html">
            <button type="button" th:text="#{edit-button-caption}">Edit</button>
        </a>
        <form th:action="@{delete(id=${book.id})}" action="bookView.html" th:method="delete">
            <button type="submit" th:text="#{delete-button-caption}">Delete</button>
        </form>
    </div>

    <h3 th:text="#{comments-table-header}">Comments:</h3>
    <h5>
        <a th:href="@{/commentaries/new(book_id=${book.id})}" th:text="#{commentary-table-add}">Add new
            commentary</a>
    </h5>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>commentary</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commentary : ${commentaries}">
            <td th:text="${commentary.id}">1</td>
            <td th:text="${commentary.commentary}">Book commentary</td>
            <td>
                <a th:href="@{/commentaries/edit(id=${commentary.id},book_id=${book.id})}" href="commentaryEdit.html">
                    <button type="button" th:text="#{edit-button-caption}">Edit</button>
                </a>
            </td>
            <td>
                <form th:action="@{/commentaries/delete(id=${commentary.id},book_id=${book.id})}"
                      action="commentaryEdit.html"
                      th:method="delete">
                    <button type="submit" th:text="#{delete-button-caption}">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
