<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New commentary</title>
</head>
<body>

<div th:insert="~{mainPage::menu}"></div>
<h3>
    <span th:text="'Book: ' + ${book.bookTitle}">Book</span>
</h3>

<form id="edit-form-commentary" action="commentaryNew.html" th:action="@{/commentaries/}" th:method="post"
      th:object="${commentary}">
    <h3 th:text="#{commentary-form-header}">Commentary new:</h3>

    <div>
        <label for="commentary-name-input">commentary:</label>
        <input id="commentary-name-input" name="commentary" type="text" th:value="*{commentary}" value="commentary"/>
        <div th:if="${#fields.hasErrors('commentary')}" th:errors="*{commentary}">Wrong commentary</div>
    </div>

    <div>
        <label for="book_id-name-input" hidden>Book id:</label>
        <input hidden id="book_id-name-input" name="book_id" type="text" th:value="${book.id}" value="book_id"/>
        <div hidden th:if="${#fields.hasErrors('book_id')}" th:errors="*{book_id}">Wrong book id</div>
    </div>

    <div>
        <button type="submit" th:text="#{save-button-caption}">Save</button>
        <a href="bookView.html" th:href="@{/books/view(id=${book.id})}">
            <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>
