<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genres</title>
</head>
<body>

<div th:insert="~{mainPage::menu}"></div>

<h3 th:text="#{genre-table-header}">Genres:</h3>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>genreTitle</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="genre : ${genres}">
        <td th:text="${genre.id}">1</td>
        <td th:text="${genre.genreTitle}">John Doe</td>
        <td>
            <a th:href="@{edit(id=${genre.id})}" href="genreEdit.html">
                <button type="button" th:text="#{edit-button-caption}">Edit</button>
            </a>
        </td>
        <td>
            <form th:action="@{delete(id=${genre.id})}" action="genreEdit.html" th:method="delete">
                <button type="submit" th:text="#{delete-button-caption}">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h5>
    <div><a href="/genres/new" th:text="#{genre-table-add}">Add new genre:</a></div>
</h5>
</body>
</html>