<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Genre</title>
</head>
<body>
<h3>
    <div><a href="/" th:text="${'Menu library'}">Menu</a></div>
</h3>
<form id="edit-form-genre" action="genreNew.html" th:action="@{/genres/}" th:method="post"
      th:object="${genre}">
    <h3 th:text="#{genre-form-header}">Genre new:</h3>

    <div>
        <label for="genre-name-input">genreTitle:</label>
        <input id="genre-name-input" name="genreTitle" type="text" th:value="*{genreTitle}" value="Genre title"/>
        <div th:if="${#fields.hasErrors('genreTitle')}" th:errors="*{genreTitle}">Wrong genre title</div>
    </div>

    <div>
        <button type="submit" th:text="#{save-button-caption}">Save</button>
        <a href="genreNew.html" th:href="@{/genres/}">
            <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>